body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
  }
  .game {
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .gameboard-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    width: 95vw;
    height: 70vh;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 4vw;
    font-weight: bold;
    min-height: 8vh;
    text-align: center;
    
  }
  .scorebox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 12vw;
    height: 20vh;
  }
  .score {   
    text-align: center;
    border: 2px solid black;
    grid-column: 1 / span 2;
    grid-row: 1/ span 8;
  }
  .plus-minus {   
    background: lightblue;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: normal;
    text-align: center;    
  }


  .scoreboard {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 0 10px 0 10px;
  }





  /* .square:focus {
    outline: red;
  } */
  
  

  