body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  .menu-bar-container{
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: lightgreen;
  }
  .top-container {
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    height: 20vh;
  }

  .bottom-container {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  .menu-bar {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
  .scoreboard {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 0 10px 0 10px;
    width: 95%;
  }


  .gameboard-wrapper {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1vw;
    height: 95%;
    width: 95%;

  }
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    
  }


  .scorebox {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5vh;
    width: 12vw;
    height: 90%;
  }

  .score {   
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color:white;
    border: 2px solid black;
    grid-column: 1 / span 2;
    font-size: 9vh;
  }
  .plus-minus {   
    background: lightblue;
    border: 1px solid #999;
    float: left;
    font-size: 3vh;
    font-weight: normal;
    text-align: center;    
  }
  @media (orientation: portrait) {
    .square {
      font-size: 3.5vh;
    }
    .scorebox {
      grid-gap: .5vw;
    }
    .plus-minus { 
      font-size: 2vh;
    }
    .score {
      font-size: 5vw;
      line-height: 8vh;
    }
    .menu-bar-container {
      height: 8vh
    }
    .top-container {
      height: 17vh;
    }
  }







  /* .square:focus {
    outline: red;
  } */
  
  

  