body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  .flex {
    display: flex;
    justify-content: center;
  }

  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-bar-container{
    height: 5vh;
    background-color: lightgreen;
  }
  .top-container {
    background-color: lightsalmon;
    height: 20vh;
  }

  .bottom-container {
    background-color: lightpink;
    height: 75vh;
  }
  .menu-bar {
    width: 95%;
  }
  .scoreboard {
    background-color: red;
    justify-content: space-around;
    padding: 0 10px 0 10px;
    width: 95%;
  }
  .gameboard-wrapper {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1vw;
    height: 95%;
    width: 95%;

  }
  .square {
    background-color: "white";
    border: 1px solid #999;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    
  }

  .team-name{
    grid-column: 1 / span 2;
    background-color: lightgreen;
    font-size: 3vh;
  }
  .score {   
    background-color:white;
    grid-column: 1 / span 2;
    font-size: 8vh;
  }
  .plus-minus {   
    background: lightblue;
    border: 1px solid #999;
    font-size: 2vh;
    font-weight: normal;
    text-align: center;    
  }
  .scorebox {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .3vh;
    padding: .3vh;
    min-width: 12vw;
    min-height: 90%;
  }


  .score.small{   
    font-size: 3vh;
  }
  .plus-minus.small{   
    font-size: 2vh;
  }
  .scorebox.small {
    grid-gap: .3vh;
    padding: .3vh;
    min-width: 4vw;
  }


  .score.medium{   
    font-size: 5vh;
  }
  .plus-minus.medium{   
    font-size: 2vh;
  }
  .scorebox.medium {
    grid-gap: .3vh;
    padding: .3vh;
    min-width: 6vw;
    min-height: 90%;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 3vh; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 88%;
  }
  
  #menuModal > .modal-content {
    width: 30%;
    height: auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .menu-grid {
    display: grid;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
  }
  .menu-grid > div {
    display:flex;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
  }




  .instructions {
    background-color: lightcoral;
    height: 20%;
  }
  .question {
    background-color: lightblue;
    height: 60%;
  }
  .answer {
    background-color: lightsalmon;
    height: 20%;
  }



  @media (orientation: portrait) {
    .square {
      font-size: 3.5vh;
    }
    .scorebox {
      grid-gap: .5vw;
      padding: .5vw;
    }
    .plus-minus { 
      font-size: 2vh;
    }
    .score {
      font-size: 5vh;
      line-height: 8vh;
    }
    .team-name{
      font-size: 2vh;
    }
    .menu-bar-container {
      height: 8vh
    }
    .top-container {
      height: 17vh;
    }
  }








  /* .square:focus {
    outline: red;
  } */
  
  

  